<footer>
            <div class="row">
                <div class="col-lg-12 footer" style="text-align: left;">
<p><a href="#"><kbd>BACK TO TOP &#8593;</kbd></a></p>

<ul>
<li>Learn more about the <a href="https://superalgos.org/" target="_blank">Superalgos Project</a>.</li>
<li>We answer all questions in our <a href="https://t.me/superalgoscommunity" rel="nofollow" rel="noopener" target="_blank">Community Telegram</a>.</li>
<li>Users with all skillsets are welcome to <a href="contributing-to-superalgos.html" target="_blank">contribute to Superalgos.</li>
</ul>
<img src="{{ "images/Superalgos-logo-light-bg-horz.svg" }}" width="200 px"/>

                </div>
            </div>
</footer>
